:root{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    padding: 0;
}

#Handleliste-Container{

    background-color: rgb(230, 229, 229);
    border-radius: 5%;
    color: black;

    form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    text-align: left;

    input{
        height: 2.5rem;
        margin-bottom: 1rem;
    }
    }

    #Error-Msg{
        color: red;
    }

    article{
        display: flex;
        align-items: center;
        padding-left: 1rem;
        margin: 0;
        gap: 0.5rem;

        #checkbox{
            margin: 0;
        }

        .number-input{
            width: 35px;
    }
    }
    
    

    

    button{
        height: 3rem;
    }
}